@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
.container {
    @apply min-w-full px-3 sm:px-6 md:px-8 lg:px-10 xl:px-12;
}